<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8"
  >
    <div>
      <div class="relative mx-auto max-w-[40rem] pt-20 pb-24">
        <h1
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
        >
          Política de privacidad
        </h1>
        <p class="mt-4 text-base leading-7 text-base-500">
          Última actualización el 01 de enero de 2025
        </p>
      </div>
    </div>
    <div>
      <div
        class="mx-auto max-w-[40rem] prose-base prose text-base-500 prose-h3:text-black prose-a:font-semibold prose-a:text-accent-300 hover:prose-a:text-black"
      >
        <p>
          Esta política de privacidad establece cómo <strong>ProTrack</strong>, procesa y utiliza su Información Personal a través del uso de nuestros Servicios.
        </p>
        <h3>Definiciones</h3>
        <h3>DPO</h3>
        <p>
          DPO significa Oficial de Protección de Datos, y es la persona específicamente designada por nosotros para atender sus consultas con respecto a esta política de privacidad y su Información Personal.
        </p>
        <p>
          Información Personal significa cualquier información identificativa sobre usted. Esto incluye, pero no se limita a, cookies y datos de uso.
        </p>
        <p>
          Servicios significa todos los servicios proporcionados por <strong>ProTrack</strong>, a usted, incluyendo (pero no limitado a) este Sitio Web.
        </p>
        <p>
          Sitio Web significa este sitio web y todos los sitios web, aplicaciones y comunicaciones que publican un enlace a esta Política de Privacidad.
        </p>
        <h3>Recopilación de Información Personal</h3>
        <p>
          Solo recopilamos y utilizamos Información Personal en la medida necesaria para proporcionarle los Servicios. Recopilamos Información Personal para el Sitio Web para brindarle una mejor experiencia en línea.
        </p>
        <h3>Retención de Información Personal</h3>
        <p>
          Mantenemos la Información Personal durante el menor tiempo necesario para proporcionarle los Servicios y cumplir con todas nuestras obligaciones legales y de cumplimiento. Para determinar este período de retención, tomamos en cuenta (i) la naturaleza de la Información Personal recopilada; y (ii) la naturaleza de nuestras obligaciones legales y de cumplimiento. Toda la Información Personal que ya no es requerida por nosotros es destruida y/o eliminada.
        </p>
        <h3>Datos Personales de Terceros</h3>
        <p>
          Podemos, de vez en cuando, obtener Información Personal de terceros para permitirnos adaptar mejor nuestros Servicios a usted (Información Personal de Terceros). Cuando obtenemos Información Personal de Terceros, le notificaremos dentro de un mes. Si utilizamos o compartimos Información Personal de Terceros, le notificaremos de inmediato.
        </p>
        <h3>Sus Derechos</h3>
        <p>
          Con respecto a la Información Personal que poseemos, usted tiene los siguientes derechos:
        </p>
        <ul>
          <li>
            Acceso: Puede solicitarnos acceso a sus datos que tenemos sobre usted.
          </li>
          <li>
            Rectificación: Si los datos que tenemos sobre usted son inexactos, puede solicitar que los corrijamos. Si los datos que tenemos son incompletos, puede solicitar que los completemos.
          </li>
          <li>
            Eliminación: Sujeto a ciertas condiciones, puede solicitar que eliminemos todos los datos que tenemos sobre usted.
          </li>
          <li>
            Restricciones: Sujeto a ciertas condiciones, puede solicitar que restrinjamos el procesamiento de los datos que tenemos sobre usted.
          </li>
          <li>
            Portabilidad: Sujeto a ciertas condiciones, puede solicitar que transfiramos todos los datos que tenemos sobre usted a un tercero (incluyéndose a usted mismo).
          </li>
          <li>
            Objeciones: Sujeto a ciertas condiciones, puede oponerse a que procesemos los datos que tenemos sobre usted.
          </li>
        </ul>
        <h3>Redes Sociales</h3>
        <p>
          Puede optar por interactuar con nuestros Servicios a través de una variedad de sitios y plataformas de redes sociales, por ejemplo, Facebook, Instagram y Twitter. Cuando interactúa con nuestros Servicios a través de estas plataformas de redes sociales, puede permitirnos recibir Información Personal sobre cómo está interactuando con nuestros Servicios. Esto dependerá de la configuración de privacidad en cada sitio y plataforma de redes sociales. Los datos que nos proporcione a través de su interacción con nuestros Servicios en sitios y plataformas de redes sociales serán utilizados por nosotros sujetos a los términos de esta política de privacidad. Dependiendo de la configuración de privacidad de su sitio de redes sociales, su Información Personal puede hacerse pública a una comunidad de usuarios si elige interactuar con nuestros Servicios a través de estas plataformas. Para obtener más información sobre cómo puede personalizar su configuración de privacidad en sitios de redes sociales y cómo esos sitios manejan su privacidad, consulte la política de privacidad de cada sitio de redes sociales en particular.
        </p>
        <h3>Menores</h3>
        <p>
          No recopilamos intencionalmente información sobre niños menores de 16 años ("Niño"). Si se da cuenta de que un Niño nos ha proporcionado Información Personal, por favor contáctenos. Si nos damos cuenta de que hemos recopilado Información Personal de un Niño sin la autorización verificable de sus padres para acceder a nuestros Servicios, tomaremos medidas para eliminar esa información de nuestros servidores.
        </p>
        <h3>Enlaces de Terceros</h3>
        <p>
          Nuestro sitio web contiene enlaces a otros sitios web de terceros no propiedad ni gestionados por Unwrapped. Esta política de privacidad se aplica solo a este sitio web. Si hace clic en un enlace a un sitio web de terceros, se aplicará la política de privacidad de ese sitio web. Le recomendamos encarecidamente que lea las políticas de privacidad de otros sitios web, ya que pueden ser diferentes a las nuestras.
        </p>
        <h3>Proveedores de Pago</h3>
        <p>
          Puede realizar pagos a través de nuestro sitio web. Nuestros proveedores están listados a continuación:
        </p>
        <ul><li>Paypal</li></ul>
        <p>
          Su política de privacidad puede ser vista <a
            href="https://www.paypal.com/webapps/mpp/ua/privacy-full">aquí</a
          >
        </p>
        <h3>Fusión, adquisición o venta de activos</h3>
        <p>
          Si nosotros o nuestras subsidiarias estamos involucrados en una fusión, adquisición o venta de activos, su Información Personal puede ser transferida.
        </p>
        <h3>Actualizaciones</h3>
        <p>
          Revisamos constantemente nuestra política de privacidad y procedimientos para asegurarnos de que cumplan con las mejores prácticas. Esta política fue actualizada por última vez el 21 de agosto de 2024.
        </p>
        <h3>Contáctenos</h3>
        <p>
          Si tiene alguna pregunta o sugerencia sobre nuestra política de privacidad o desea obtener más información sobre la Información Personal que poseemos, por favor contáctenos en support@protrack.solutions.
        </p>
        <h3>Quejas</h3>
        <p>
          Si cree que hemos incumplido nuestras obligaciones con usted bajo esta política de privacidad o las leyes de privacidad relevantes, por favor contáctenos en <a
            href="">support@protrack.solutions</a
          >
          Si no está satisfecho con nuestra respuesta, tiene derecho a presentar una queja en cualquier momento ante su autoridad relevante.
        </p>
      </div>
    </div>
  </div>
</section>
