<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24"
  >
    <div>
      <div class="relative mx-auto max-w-[40rem] pt-20 pb-24">
        <h1
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
        >
          Términos y condiciones
        </h1>
        <p class="mt-4 text-base leading-7 text-base-500">
          Última actualización el 01 de enero de 2025
        </p>
      </div>
    </div>
    <div>
      <div
        class="mx-auto max-w-[40rem] prose-base prose text-base-500 prose-h3:text-black prose-a:font-semibold prose-a:text-accent-300 hover:prose-a:text-black"
      >
        <p>
          Esta política de privacidad establece cómo <strong>ProTrack</strong>, recopila, procesa y utiliza su Información Personal a través del uso de nuestros Servicios.
        </p>
        <h3>Definiciones</h3>
        <h3>DPO</h3>
        <p>
          DPO significa Delegado de Protección de Datos, y es la persona designada específicamente por nosotros para atender sus consultas respecto a esta política de privacidad y su Información Personal.
        </p>
        <p>
          Información Personal significa cualquier información identificativa sobre usted. Esto incluye, pero no se limita a, lo siguiente: cookies y datos de uso.
        </p>
        <p>
          Servicios significa todos los servicios proporcionados por <strong>ProTrack</strong>, incluyendo (pero no limitado a) este Sitio Web.
        </p>
        <p>
          Sitio Web significa este sitio web y todos los sitios, aplicaciones y comunicaciones que publiquen un enlace a esta Política de Privacidad.
        </p>
        <h3>Recopilación de Información Personal</h3>
        <p>
          Solo recopilamos y utilizamos la Información Personal en la medida necesaria para proporcionarle los Servicios. Recopilamos Información Personal en el Sitio Web para ofrecerle una mejor experiencia en línea.
        </p>
        <h3>Retención de Información Personal</h3>
        <p>
          Conservamos la Información Personal durante el tiempo mínimo necesario para proporcionarle los Servicios y cumplir con todas nuestras obligaciones legales y de cumplimiento. Para determinar este período de retención, tenemos en cuenta (i) la naturaleza de la Información Personal recopilada; y (ii) la naturaleza de nuestras obligaciones legales y de cumplimiento. Toda Información Personal que ya no sea requerida por nosotros es destruida y/o eliminada.
        </p>
        <h3>Datos Personales de Terceros</h3>
        <p>
          De vez en cuando, podemos obtener Información Personal de terceros para poder adaptar mejor nuestros Servicios a sus necesidades (Información Personal de Terceros). Cuando obtengamos Información Personal de Terceros, le notificaremos en el plazo de un mes. Si usamos o compartimos dicha información, le notificaremos inmediatamente.
        </p>
        <h3>Sus Derechos</h3>
        <p>
          Respecto a la Información Personal que poseemos, usted tiene los siguientes derechos:
        </p>
        <ul>
          <li>
            Acceso: Puede solicitarnos el acceso a los datos que tenemos sobre usted.
          </li>
          <li>
            Rectificación: Si los datos que poseemos sobre usted son inexactos, puede solicitarnos que los corrijamos. Si los datos son incompletos, puede solicitar que los complementemos.
          </li>
          <li>
            Borrado: Sujeto a ciertas condiciones, puede solicitar que eliminemos todos los datos que poseemos sobre usted.
          </li>
          <li>
            Restricciones: Sujeto a ciertas condiciones, puede solicitar que restrinjamos el procesamiento de los datos que poseemos sobre usted.
          </li>
          <li>
            Portabilidad: Sujeto a ciertas condiciones, puede solicitar que transfiramos todos los datos que poseemos sobre usted a un tercero (incluyéndolo a usted).
          </li>
          <li>
            Oposición: Sujeto a ciertas condiciones, puede oponerse a que procesemos los datos que tenemos sobre usted.
          </li>
        </ul>
        <h3>Redes Sociales</h3>
        <p>
          Puede optar por interactuar con nuestros Servicios a través de diversas redes y plataformas sociales, por ejemplo, Facebook, Instagram y Twitter. Cuando interactúa con nuestros Servicios mediante estas plataformas, puede permitirnos recibir Información Personal sobre cómo está interactuando con nuestros Servicios. Esto dependerá de la configuración de privacidad de cada red social. Los datos que usted proporcione mediante su interacción con nuestros Servicios en redes sociales serán utilizados por nosotros conforme a los términos de esta política de privacidad. Dependiendo de la configuración de privacidad de la red social, su Información Personal puede hacerse pública a una comunidad de usuarios si decide interactuar con nuestros Servicios a través de dichas plataformas. Para obtener más información sobre cómo personalizar la configuración de privacidad en redes sociales y cómo estas gestionan su privacidad, consulte la política de privacidad de cada red social.
        </p>
        <h3>Menores</h3>
        <p>
          No recopilamos conscientemente información de niños menores de 16 años ("Niño"). Si se entera de que un Niño nos ha proporcionado Información Personal, contáctenos. Si descubrimos que hemos recopilado Información Personal de un Niño sin la autorización verificable de sus padres para acceder a nuestros Servicios, tomaremos medidas para eliminar esa información de nuestros servidores.
        </p>
        <h3>Enlaces a Terceros</h3>
        <p>
          Nuestro sitio web contiene enlaces a otros sitios web de terceros que no son propiedad ni están gestionados por Unwrapped. Esta política de privacidad se aplica únicamente a este sitio web. Si hace clic en un enlace a un sitio de terceros, le aplicará la política de privacidad de dicho sitio. Le recomendamos encarecidamente que lea las políticas de privacidad de otros sitios, ya que pueden ser diferentes a la nuestra.
        </p>
        <h3>Proveedores de Pago</h3>
        <p>
          Puede realizar pagos a través de nuestro sitio web. Nuestros proveedores se enumeran a continuación:
        </p>
        <ul><li>Paypal</li></ul>
        <p>
          Su política de privacidad se puede consultar <a
            href="https://www.paypal.com/webapps/mpp/ua/privacy-full">aquí</a>.
        </p>
        <h3>Fusión, adquisición o venta de activos</h3>
        <p>
          Si nosotros o nuestras filiales participamos en una fusión, adquisición o venta de activos, su Información Personal puede ser transferida.
        </p>
        <h3>Actualizaciones</h3>
        <p>
          Revisamos constantemente nuestra política y procedimientos de privacidad para asegurar que cumplan con las mejores prácticas. Esta política fue actualizada por última vez el 21 de agosto de 2024.
        </p>
        <h3>Contáctenos</h3>
        <p>
          Si tiene alguna pregunta o sugerencia sobre nuestra política de privacidad o desea obtener más información sobre la Información Personal que poseemos, contáctenos en support@protrack.solutions.
        </p>
        <h3>Quejas</h3>
        <p>
          Si cree que hemos incumplido nuestras obligaciones con usted en virtud de esta política de privacidad o las leyes de privacidad pertinentes, contáctenos en <a
            href=""
          >support@protrack.solutions</a>. Si no está satisfecho con nuestra respuesta, tiene derecho a presentar una queja en cualquier momento ante la autoridad correspondiente.
        </p>
      </div>
    </div>
  </div>
</section>
