---
import { Image } from "astro:assets";

const sections = [
  {
    title: 'Todas las páginas',
    links: [
      { name: 'Inicio', href: '/' },
      { name: 'Preguntas Frecuentes', href: '/faq' },
      { name: 'Términos', href: '/terms' },
      { name: 'Privacidad', href: '/privacy' },
      { name: 'Registrarse', href: '/signup' },
      { name: 'Iniciar Sesión', href: '/signin' },
      { name: 'Soporte', href: '/support' },
    ],
  },
  {
    title: 'Recursos',
    links: [
      {
        name: 'GitHub Repository',
        href: 'https://github.com/gerodrig/protrack-website-tfm',
      },
    ],
  },
  {
    title: 'Integrantes del equipo',
    links: [
      {
        name: 'Yasmin Moreno',
        href: 'https://github.com/YasminRosario',
      },
      {
        name: 'Miguel Ángel Madrid',
        href: 'https://github.com/Mikadex',
      },
      {
        name: 'José Manuel Cerón',
        href: 'https://github.com/jmppk',
      },
      {
        name: 'Luis Enrique Rodríguez',
        href: 'https://github.com/LuisRodriguezLD',
      },
      {
        name: 'Gerardo Arturo Rodríguez',
        href: 'https://github.com/gerodrig',
      },
    ],
  },
];

const year = new Date().getFullYear();
---

<footer class="bg-white">
  <!-- Parte “superior” del footer: logo y enlaces -->
  <div class="px-8 py-20 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="grid grid-cols-2 lg:grid-cols-4 items-start gap-x-8 gap-y-24">
      <!-- Logo / Marca -->
      <!-- <a
        href="/"
        class="xl:col-span-1 text-black inline-flex items-center gap-3"
      >
        <svg
          class="h-4"
          viewBox="0 0 78 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M55.5 0H77.5L58.5 32H36.5L55.5 0Z" fill="#283CFF"></path>
          <path d="M35.5 0H51.5L32.5 32H16.5L35.5 0Z" fill="#5263FF"></path>
          <path d="M19.5 0H31.5L12.5 32H0.5L19.5 0Z" fill="#808CFF"></path>
        </svg>
        <span class="font-bold font-display">ProTrack</span> -->
        <Image
        class="h-8"
        src="/images/protrack.svg"
        width={256}
        height={256}
        alt="Protrack logo"
      />
      </a>

      <!-- Enlaces de navegación, sacados de "sections" -->
      <div
        class="md:grid md:grid-cols-2 xl:grid-cols-4 md:gap-8 text-sm leading-normal
               text-base-500 font-medium lg:col-span-3"
      >
        {
          sections.map(({ title, links }) => (
            <div class="mt-12 md:mt-0">
              <h3 class="text-lg text-black font-medium tracking-tight">
          {title}
              </h3>
              <ul role="list" class="mt-4 space-y-1">
          {links.map(({ name, href }) => (
            <li>
              <a 
                href={href} 
                class={`hover:text-black ${name === "Soporte" ? "text-blue-500 animate-pulse" : ""}`}>
                {name}
              </a>
            </li>
          ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </div>

  <!-- Parte “inferior”: aviso legal, créditos, etc. -->
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 px-8 py-6">
    <div class="border-t pt-6 border-base-200">
      <p class="text-xs text-base-500 lg:col-span-2">
        © {year}
        <strong>ProTrack</strong>. Todos los derechos reservados. Este sitio web
        fue desarrollado con Astro &amp; Tailwind como parte de un proyecto
        profesional. Hecho en Mexico with ❤️.
      </p>
    </div>
  </div>
</footer>
